site/*.png
site/documentation
.directory
source/dist
source/gentoo
source/cabal.sandbox.config
sandbox/jackrose.aes
sandbox/jackrose.sqlite
sandbox/jackrose.sqlite-wal
sandbox/jackrose.sqlite-shm
source/.cabal-sandbox
source/.stack-work
